.transactionHistory {
    margin: 0 auto;
    margin-top: 35px;
    color: rgb(71, 71, 71);
    width: 600px;
    border-collapse: collapse;
    border: 1px solid #2b64af;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
}

tbody:nth-child(2n-3) {
    border: 1px solid #2b64af;
    background-color: rgb(158, 202, 231);
}

th {
    border: 1px solid #2b64af;
    background-color: #2b64af;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 5px;
}
.header {
    border: 1px solid #2b64af;
    font-weight: 400;
    font-size: 15px;
    padding: 5px;
}
td{
    border: 1px solid #2b64af;
}